<!-- <div class="form-group col-6 mx-auto">
  <label for="productKeySelect">Select Product Key:</label>
  <select class="form-control" id="productKeySelect" multiple>
    <option value="id">ID</option>
    <option value="name">Name</option>
    <option value="price">Price</option>
    <option value="category">Category</option>
    <!-- Add more options for other product keys as needed -->
<!-- </select>
  <label for="productKeySelect">Order by:</label>
  <select class="form-control" id="productKeySelect">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
    <!-- Add more options for other product keys as needed -->
<!-- </select> -->
<!-- <label for="productKeySelect">Limit</label>
  <select class="form-control" id="productKeySelect">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <!-- Add more options for other product keys as needed -->
<!-- </select> -->
<!-- </div> -->
<div class="col-12 mx-auto">
  <h1>Product List</h1>

  <table class="table table-bordered">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Color</th>
      <th>Description"</th>
      <th>Image</th>
      <th>Created At</th>
      <th>Edit</th>
      <th>Detail</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <% products.forEach(product => { %>
      <tr class="justify-content-center align-items-center">
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.color %></td>
        <td><%= product.description %></td>
        <td><img src="<%= product.image %>" alt="" style="height: 80px" /></td>
        <td><%= product.createdAt %></td>
        <td><a class="btn btn-primary" href="http://">Sửa</a></td>
        <td><a class="btn btn-success" href="http://">Chi tiết</a></td>
        <td><a class="btn btn-danger" href="http://">Xóa</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
